<main>
    <img id="sadFaceImg"
        src="https://www.pinclipart.com/picdir/middle/10-109148_sad-face-smiley-free-download-clip-art-on.png"
        alt="sad face" />
    <h1>404</h1>
    <h2>Page not found</h2>
</main>